/result/
/checkpoint/
/data/dataset/
/data/FIDS30/
/data/labels.json
/data/test_imgs.json
/data/train_imgs.json
.idea/.gitignore
.idea/FruitRecognition.iml
.idea/inspectionProfiles/
.idea/markdown-navigator-enh.xml
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
__pycache__/
/connect/
/main.py
